.competition-process-student-answer-form__input-container {
    width: 40%;
    min-width: 330px;
    margin: 0 auto;
    border-radius: 30px;
    height: 47px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.competition-process-student-answer-form__input-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
}

.competition-process-student-answer-form__input-img {
    width: 35px;
    height: 35px;
    content: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17.5' cy='17.5' r='17.5' fill='%23BBC2D3'/%3E%3Cpath d='M18 27V18V9M18 9L11 15M18 9L25 15' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}