.show-settings {
    border-radius: 15px;
    background-color: #48BDFF;
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
}

.show-settings:hover {
    background-color: #4398ff;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75);
}

.form-container {
    border-radius: 30px;
    padding: 10px 40px 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #E7E7E7;
}

.after-registration-opened-teams-container {
    border-radius: 30px;
    padding: 10px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E7E7E7;

    width: 55%;
    max-width: 800px;
    min-width: 550px;
}

.after-registration-opened-title-container {
    text-align: center;
    margin-top: 52px;
}

.after-registration-opened-title {
    font-size: 30px;
    color: #CFA856;
}

.after-registration-opened-subtitle {
    font-size: 24px;
    color: #CFA856
}

.after-registration-opened-show-settings-toggle {
    margin-top: 42px;
}

.after-registration-opened-teams-container-title {
    text-align: center;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.after-registration-opened-params-teams-spacer {
    height: 50px;
}

.after-registration-opened-competition-form-holder {
    border-radius: 30px;
    background: #E7E7E7;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    padding: 20px 42px 20px 42px;
    width: 55%;
    max-width: 800px;
    min-width: 550px;
}

.after-registration-opened-competition-form-holder-action-button-container {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.after-registration-opened-start-game-holder {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .after-registration-opened-title-container {
        margin-top: 20px;
    }

    .after-registration-opened-show-settings-toggle {
        margin-top: 20px;
    }

    .after-registration-opened-title {
        font-size: 26px;
    }

    .after-registration-opened-subtitle {
        font-size: 22px;
    }

    .after-registration-opened-params-teams-spacer {
        height: 35px;
    }

    .after-registration-opened-teams-container-title {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .after-registration-opened-teams-container {
        border-radius: 15px;
        padding: 10px 10px 10px;
        margin-left: 15px;
        margin-right: 15px;
        width: unset;
        max-width: unset;
        min-width: unset;
    }

    .after-registration-opened-competition-form-holder {
        border-radius: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px;
        max-width: unset;
        min-width: unset;
        width: unset;
    }
}