.mode-switcher-container {
    margin: 0 auto;
    width: 33%;
    min-width: 440px;
}

.form-title {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.mode-switcher__button-element {
    width: 50%;
    font-size: 20px;
    text-overflow: ellipsis;
}


@media (max-width: 500px) {
    .mode-switcher-container {
        min-width: 250px;
    }

    .mode-switcher__button-element {
        font-size: 18px;
    }
}