.header {
    border-radius: 30px 30px 0 0;
    background-color: #E7E7E7;
    font-size: 1rem;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.header-text {
    vertical-align: center;
    position: absolute;
    text-align: center;
    /*margin: 0 auto;*/
    display: inline-block;
    top: 50%;
    left: 50%;
    font-size: 1.4rem;
    transform: translate(-50%, -30%)
}

.header.unselected {
    background-color: #D7D7D7;
}