.collection-holder {
    background: #DFDCDF66;;
    border-radius: 30px;
    padding: 0 40px 0 40px;
    margin: 51px auto 0 auto;
}

.root-container {
    padding-left: 40px;
    padding-right: 40px;
}

.competition-header-title {
    padding-top: 18px;
    padding-bottom: 34px;
    text-align: center;
}

.more-button-container {
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
}

.more-button {
    width: 230px;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media (max-width: 500px) {
    .root-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .title {
        padding-top: 0;
        padding-bottom: 17px;
    }

    .collection-holder {
        padding: 8px 15px 0 15px;
        border-radius: 10px;
    }

    .more-button {
        width: 100px;
        font-size: 16px;
    }

    .more-button-container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
