.user-grid-padding {
    padding: 0 2rem;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1.0fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.grid-item {
    background: #E7E7E7;
    padding: 0.7rem 1.9rem;
    border-radius: 1rem;
}

.grid-item-line {
    padding-top: 0.4rem;
}

.mymodal {
    width: 500px;
    background: white;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


.mymodal h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}
.mymodal .content {
    padding: 1rem;
}
.mymodal .actions {
    background: #eee;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mymodal .actions button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    width: 50%;
    margin: 0 auto;
}