.menu-button {
    border-radius: 50%;
    background-color: #959BAF;
    margin: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.menu-button:hover {
    background-color: #8d92a4;
}

.menu-button-content > .profile-button {
    outline: 0;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    display: block;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    left: -30px;
    top: -10px;
}

.dropdown-element {
    padding: 2px;
    border-radius: 4px;
    background-color: white;
}

.dropdown-element:hover {
    background-color: #f1f1f1;
}

.user-info {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

@media (max-width: 500px) {
    .dropdown-content {
        left: -60px;
    }

    .user-info {
        font-size: 16px;
    }
}