.competition-process-teacher-table {
    border-collapse: collapse;
    caption-side: top;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0.6);
}

table.competition-process-teacher-table th, table.competition-process-teacher-table td {
    border: 1px solid black;
    text-align: center;
}

.results-table-header-title {
    text-align: center;
    font-size: 23px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
    .results-table-header-title {
        font-size: 17px;
        padding-bottom: 6px;
        color: rgba(0, 0, 0, 0.6);
    }

    table.competition-process-teacher-table th, table.competition-process-teacher-table td {
        font-size: 14px;
    }
}
