.page-title {
    font-size: 30px;
}

.below-navbar {
    padding-top: 70px;
}

@media (max-width: 500px) {
    .below-navbar {
        padding-top: 42px;
    }

    .page-title {
        font-size: 20px;
    }
}