.page-title {
    font-size: 26px;
}

.default-button {
    color: rgba(0, 0, 0, 0.6);
    background-color: #BBC2D3;
    border-radius: 20px;
    border: 0;
}

.default-button:hover {
    background-color: #b8becf
}

.below-navbar {
    padding-top: 70px;
}

@media (max-width: 500px) {
    .below-navbar {
        padding-top: 42px;
    }

    .page-title {
        font-size: 20px;
    }

    .default-button {
        border-radius: 8px;
    }
}