.competition-process-teacher-message-style {
    background-color: rgba(222, 220, 222, 0.6);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.messages-container-send-message-container-spacer {
    height: 15px;
}