.game-state-holder {
    border-radius: 30px;
    background: rgba(223, 220, 223, 0.35);
    margin: 0 80px;
    padding: 20px 50px 20px 50px;
}

.competition-process-teacher-buttons-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.competition-process-teacher-results-table-holder {
    overflow: auto;
}

.competition-process-teacher-buttons-results-table-spacer {
    height: 20px;
}

.competition-process-teacher-results-table-round-length-spacer {
    height: 20px;
}

.competition-process-teacher-round-length-messages-spacer {
    height: 40px;
}

.competition-process-teacher-bottom-content {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.competition-process-teacher-actions-buttons-top-spacer {
    height: 20px;
}

.competition-process-teacher-price-graph-container-spacer {
    height: 40px;
}

.competition-process-teacher-price-graph-container-top-spacer {
    height: 10px;
}

.competition-process-teacher-price-graph-container {
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

.competition-process-teacher-price-graph-wrapper {
    margin-left: -30px;
    height: 100%;
}

.competition-process-teacher-price-graph-title {
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
    .game-state-holder {
        border-radius: 15px;
        background: rgba(223, 220, 223, 0.35);
        margin: 0 15px;
        padding: 10px 20px;
    }

    .competition-process-teacher-buttons-results-table-spacer {
        height: 10px;
    }

    .competition-process-teacher-actions-buttons-top-spacer {
        height: 10px;
    }

    .competition-process-teacher-results-table-round-length-spacer {
        height: 10px;
    }

    .competition-process-teacher-price-graph-container-spacer {
        height: 20px;
    }

    .competition-process-teacher-price-graph-title {
        font-size: 14px;
    }

    .competition-process-teacher-price-graph-container {
        margin-left: 0;
        margin-right: 0;
    }
}